*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    background-image: linear-gradient(0, rgba(0,102,179,0.6), rgba(0,102,179, 0.1)/*, url('cms/admin/img/hufi.jpg')*/);
    background-repeat: no-repeat;
    height: 100%;
}

body {
    
}

.login-textbox {
    width: 85%;
    margin: 4px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
}




.login-container {
    width: 320px;
    margin: auto;
    margin-top: 250px;
}

.username-password {
    border-bottom: solid 1px #0066b3  ;
    margin-bottom: 8px;
}

.up-icon {
    margin: 4px;
    font-size: 1.4rem;
    color: #0066b3;
}

.submit {
    background-color: #0066b3;
    height: 28px;
    text-align: center;
    margin-top: 16px;
}

.dangnhap {
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 80px;
}

.submit:hover {
    filter: brightness(120%);
    }
